/.FuzzyLanguageRuntimeModule.java._trace
/.FuzzyLanguageRuntimeModule.xtendbin
/.FuzzyLanguageStandaloneSetup.java._trace
/.FuzzyLanguageStandaloneSetup.xtendbin
/FuzzyLanguageRuntimeModule.java
/FuzzyLanguageStandaloneSetup.java
